/* This file will hold styles that are loaded using the same media query as the normal grid. */
/* If you are using the default media queries provided by Omega, these styles will also
 *  apply to the widescreen layout unless they are overridden by the widescreen styles. */
p{
    margin: 0;
}
a{text-decoration: none !important;}
#zone-branding-wrapper{
    
    background: url('../img/bg-zone-branding.png');
    min-height: 95px;
  
    
}
#zone-branding{
    
}
#zone-menu-wrapper{
    
    padding: 2px 0;
}
#zone-content-wrapper{
    
    background: #3a1e1d;
    
}
#zone-content{
    background: #ffffff;
    margin-top: 15px;
    margin-bottom: 15px;
    border-radius: 5px;
   min-height: 650px;
 
}
#section-content{
     background: #3a1e1d;
     margin-bottom: 20px;
     min-height: 800px;
    
}

uk#main-menu li{
    
}
ul#main-menu li a{
    
    text-decoration: none;
    font-weight: bold;
    color: #823e05;
     padding: 3px 10px;
}
ul#main-menu li a:hover{
    
 background: #e34747;
 color: white;
}
ul#main-menu li a.active{
    
   background: #e34747;
  
   color: white;
}
#section-footer{
 padding: 10px 0;   
}

.list-menu-img{
    
}
.list-menu-img img
{
    width: 100%;
    
}
.list-menu-link
{
    
    
}
.list-menu-link a
{
    color: #666;
    text-decoration: none;
 padding-left: 5px;
}
#zone-sub-menu-wrapper{
    
    width: 95%;
    margin: 0 auto;
       background: #ffffff;
    margin-top: 15px;
    margin-bottom: 15px;
    border-radius: 5px;
   
  
}
#zone-main-menu-wrapper{
    
    background: #ffffff;
    padding: 5px 0;
}
.sub-menu{
    width: 95%;
    margin: 0 auto;
    margin-top: 10px;
     margin-bottom: 20px;
     min-height: 650px;
}
.sub-menu-config-head{
   
    background: url('../img/sub-menu-head.png') repeat-x;
    height: 29px;
    
    
}
.sub-menu-config-head-title{
    width: 95%;
    margin: 0 auto;
    
}
.sub-menu-config-head-title p{
    background: url('../img/circle.png') no-repeat;
    background-size: 10px 10px;
    background-position-y: 50%;
    color: #ffffff;
    font-weight: bold;
   padding-left: 20px;
    margin-top: 5px;
    display: inline-block;
}
.sub-menu-config-content{
background: #f5eced;
padding: 30px 0;
}
.sub-menu-config-content-img{
    
    width: 50%;
    margin: 0 auto;
    margin-top: 20px;
}
.sub-menu-config-content-link{
  
    width: 50%;
    margin: 0 auto;
    padding: 10px 0;
}
.sub-menu-config-content-link a{
    text-decoration: none;
    color: #666666;
    
}

.footer-first{
    
    width: 480px;
    margin: 0 auto;
    
}
.footer-first p{
    
    
    
} 
.head-title{
    margin-left: -81px;
    background: url('../img/bg-title.png') no-repeat;
    min-height: 89px;
    padding-left: 81px;
    
}
.head-title-icon{
    
    background: url('../img/icon-head-title.png') no-repeat;
    background-size: 35px 40px;
    background-position-y: 35%;
    min-height: 50px;
    padding-top: 20px;
    padding-left: 50px;
}
.head-title p{
    color: #ffffff;
    font-size: 18px;
    font-weight: bold;
    
}
ul.menu li{
    display: inline;
}
#block-menu-menu-material-list h2.block-title{
background:  url('../img/sub-menu-head.png') , url(/sites/default/themes/kc_stock/img/circle.png) ;
background-repeat: repeat-x,no-repeat;
padding-left: 20px;
height: 29px !important;
}